:root{
    --background: hsl(185, 75%, 39%);
    --main:hsl(229, 23%, 23%);
    --secondary: hsl(227, 10%, 46%);

    --line: hsl(0, 0%, 59%);

    font-family: 'Kumbh Sans',
    sans-serif;
    font-size: 18px;
}
body{
    margin:0px;
}


.background{
    background: right 50vw bottom 40vh no-repeat url(images/bg-pattern-top.svg),
                51vw 50vh no-repeat url(images/bg-pattern-bottom.svg) var(--background);
     display:grid;
     grid-template-rows: 100vh;
     grid-template-columns: 50% 50%;
}
