:root{
    --dark-grayish:  hsl(217, 19%, 35%);
    --desaturated-gark:  hsl(214, 17%, 51%);
    --grayish:  hsl(212, 23%, 69%);
    --light-grayish: hsl(210, 46%, 95%);
    font-family: 'Manrope',
        sans-serif;
    font-size: 13px;
}
body{
    background-color: var(--light-grayish);
    position: relative;
    height: 100vh;
    margin:0px;
}
.container{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    max-width:327px;
    height:512px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.article__img{
    height: 200px;
    width: 327px;
    background-image: url("./images/drawers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 25%;
}